header {

    border-bottom: 1px solid #1e1e1e;
    position: sticky;
    width: 100%;
    

    nav {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 32px;

        .logo img {
            width: 60px;
        }

        .nav-menu ul{
            list-style: none;
            display: flex;
            gap: 16px;
        }
    }
}